.main-title{
    background-color: #4d6e5b;
    color: white;
    font-size: 70px;
    top: 50%;
    bottom: 50%;
    padding: 10px 20px;
    float: right;
    transform: translate(-30%, 100px); 
    border: double;
}

.main-img {
    height: 400px;
    width: 50%;
    margin-right: right;
    display: block;
    border: double;
    border-color: #44a3439a;
}

.sub-img{
    float:right;
    width: 200px;
    transform: translate(240%, 60px)
}

#background {
  background-color: #52482c;
}

.sub-header {
  padding: 20px 40px;
  height: 175px;
  text-align: center;
  background: #4d6e5b;
  color: white;
  font-size: 25px;
}

#map {
  height: 350px; 
  border: 1px solido black;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}