.main-title{
    background-color: #4d6e5b;
    color: white;
    font-size: 70px;
    top: 50%;
    bottom: 50%;
    padding: 10px 20px;
    float: right;
    transform: translate(-30%, 100px); 
    border: double;
}

.main-img {
    height: 400px;
    width: 50%;
    margin-right: right;
    display: block;
    border: double;
    border-color: #44a3439a;
}

.sub-img{
    float:right;
    width: 200px;
    transform: translate(240%, 60px)
}

#background {
  background-color: #52482c;
}

body {
  background-image: url('Img/wooden-background.avif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.sub-header {
  padding: 20px 40px;
  height: 175px;
  text-align: center;
  background: #4d6e5b;
  color: white;
  font-size: 25px;
}

#map {
  height: 350px; 
  width: 50%;
  padding-top: 50px;
}

.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.info {
    font-size: 20px;
    background-color: #44a3439a;
    color: white;
    margin: auto;
    padding: 20px 40px;
    width: 94.3%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: double;
}

ul li{
    margin-bottom: 10px;
}

nav {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 50px;
}

nav ul {
    list-style-type: none; 
    padding: 0;
}

nav ul li {
    display: inline; 
    margin-right: 10px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    display: inline-block; 
    padding: 10px 20px; 
    color: white; 
    text-decoration: none; 
    background-color: #555; 
    border-radius: 5px; 
}

nav ul li a:hover {
    background-color: #777;
}

.button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}