.container {
    display: grid;
    grid-template-columns: 7fr 5fr; 
    gap: 20px; 
}
 
.left-column {
        background-color: #4d6e5b;
        padding: 20px;
        height: 100%;
        }

.right-column {
    background-color: #44a3439a;
    padding: 20px;
    height: 100%;
}

#background {
  background-color: rgb(224, 204, 178);
  color: white
}

.groove {
  border-style: groove;
}